<h2> Patients: <%= @patient.name %></h2>
<ul>
  <% @patient.appointments.each do |appt| %>
   <li> <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>  Appt Date: <%= appt.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></li>
  <% end %>
</ul>