<h1>All Doctors:</h1>

<ul>
    <% @doctors.each do |doctor| %>
        <li>
            <p><%= link_to "Dr. #{doctor.name} - Department: #{doctor.department}", doctor_path(doctor) %></p>
        </li>
    <% end %>
</ul>