<h1>Appointment Details:</h1>

<p>Date and time: <%= @appointment.datetime_format %></p>
<p>Appointment for: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p>Appointment doctor: Dr. <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>